body{
    margin: 50px;
    background-color: rgba(0, 181, 204, 1);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.main-container{
    border: solid green;
    border-width: 3px   ;
    width: 90%;
    height: 100%;
    padding: 50px;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

img{
    float: right;
    margin: 0 0 1em 1em;
    width: 300px;
    height: auto;
}

p {
    font-size: 16px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
    margin: 40px 50px;
}

li{
    display: inline;
    border-left: solid 1px black;

}

.main-container span{
    font-size: 20px;
}

a{
    font-size: 20px;
    color: green;
}